h1{
    color: purple;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

body{
    background-color:pink;
}

button{
    background-color: lightcoral;  
    color: black;  
    font-size: 18px;  
    margin-right: 5px;
}